<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Dashboard</h1>

<p>👤 <%= user.username %></p>

<h3>Servers:</h3>
<ul>
  <% user.guilds.forEach(guild => { %>
    <li><%= guild.name %></li>
  <% }) %>
</ul>

<a href="/logout"><button>Logout</button></a>

</body>
</html>
