<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

<h1>🔥 Home</h1>

<% if (!user) { %>
  <a href="/login"><button>Login with Discord</button></a>
<% } else { %>
  <p>مرحبا <%= user.username %></p>
  <a href="/dashboard"><button>Dashboard</button></a>
<% } %>

</body>
</html>
