<!DOCTYPE html>
<html>
<head>
  <title>Login Discord</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Login with Discord</h1>
<a href="/auth/discord" class="btn">Login Discord</a>

</body>
</html>
